body,
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 92% !important;
  font-family: 'Roboto' !important;
  background-color: #f1f9ff !important;
  color: rgba(0,0,0,0.8) !important;
}


@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
  /* Add additional font weights and styles as needed */
}
@media (min-width: 992px) {
  #navbar a.active {
    color: #000;
    font-weight: bold;
  }

.navbar {
   position: fixed !important;
   top: 0 !important;
   z-index: 1000 !important;
   height: 10vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #ccecee !important;
   margin-left: calc(var(--bs-gutter-x) * -0.5);
 }

  .navbar-nav .nav-link:hover {
    color: #0d6efd;
    font-weight: bold;
  }
  
 .navbar .navbar-brand {
   color: #000;
   font-size: 30px;
   font-family: Arial;
   font-weight: bold;
   text-decoration: none;
   margin-left: 10%;
 }

 .navbar .navbar-nav {
   display: flex;
   justify-content: space-around;
   margin-left: 35%;
   width: 40%;
 }

  .navbar .navbar-nav .nav-item {
    color: #000;
    font-size: 1.8vh;
    text-decoration: none;
  }

  .navbar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    --bs-navbar-toggler-border-color: white;
  }
  .navbar-toggler.collapsed {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  }


  .navbar .navbar-collapse.show .navbar-nav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .navbar .navbar-collapse.show .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 78, 78, 0.404);
    border: 1px solid black;
    box-sizing: border-box;
  }

  .navbar .navbar-nav .nav-item .icon {
    margin-bottom: 8px;
    width: 10vw;
    height: 10vw;
    fill: #fff;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
  }


  .navbar .navbar-collapse.show .navbar-nav .nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .navbar .navbar-collapse.show .navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .navbar .navbar-collapse.collapsing .navbar-nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  .navbar .navbar-collapse {
    transition: none !important;

  }

  .navbar {
    stroke: white;
  }

  .navbar-toggler {
    z-index: 1001;
  }
}




.controls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.controls-container>* {
  margin: 1vw;

}

.radio-container>* {
  margin: 2px;
}

.rate-option,
.year-option,
.category-option,
.option-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-option>label,
.year-option>label,
.category-option>label,
.option-option>label {
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
}

@media (min-width: 992px) {
  .aids {
    display: flex;
    justify-content: center;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 66vh;
  }

  .chart-container.small {
    height: 56vh;
  }

  .chart-container canvas {
    max-width: 70%;
    max-height: 100%;
  }
}
@media ((min-width: 992px) and (max-width: 1599px)) {
  .chartParent {
    display: flex;
    justify-content: center;
  }

  .containerGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 58vh;
  }

  .containerGraph canvas {
    max-width: 70%;
    max-height: 100%;
  }
}
@media (min-width: 1600px) {
  .chartParent {
    display: flex;
    justify-content: center;
  }

  .containerGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 63vh;
  }

  .containerGraph canvas {
    max-width: 70%;
    max-height: 100%;
  }
}
@media (max-width: 992px){

  .chartParent {
    display: flex;
    justify-content: center;
  }

  .containerGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }


}

@media (max-width: 992px) {
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
  }
}

@media (min-width: 992px) {
  .text-container {
    text-align: center;
    margin-top: 10vh;
    font-weight: bold;
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .text-container {
    text-align: center;
    margin-top: 2vh;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
   .topTitle{
      margin-top: 13vh;
      text-align: center;
   }
   .titleText{
      margin-top: 13vh;
      text-align: center;
      letter-spacing: 0.10rem;
   }
}
@media (max-width: 992px) {
   .topTitle{
      text-align: center;
   }
   .titleText{
      text-align: center;
      letter-spacing: 0.10rem;
   }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f9ff;
    color: rgba(0,0,0,0.8);
}

.main-content {
    max-width: 1140px;
    margin: auto;
}

.main-content span {
    color: #0d6efd;
}

.main-content h2 {
    margin: 0.5rem 0;
}

.main-content .service-card-color h3 {
    margin-bottom: 0.5rem;
}

.main-content .service-card-color p {
    margin-top: 0.5rem;
}

.service-cards {
    margin-top: 0.5rem;
}

.service-card-color {
    background-color: #B3DBF5;
    color: #333;
    border: 1px solid #000;
}

.main-content .col {
    padding: 1rem;
}

.main-content h3 {
    font-size: 1.4rem;
    margin: 0;
}

.main-content h3 i {
    margin-right: 0.7rem;
    color: #0d6efd; 
}

@media (max-width: 576px) {
    .main-content {
        padding: 1rem; 
    }
}

@media (max-width: 768px) {
    .main-content .col-lg-6 img {
        max-width: 65%;
        height: auto;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-content .col-lg-6 img {
        max-width: 65%;
        height: auto;
        margin: 0 auto;
    }
}
