body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f9ff;
    color: rgba(0,0,0,0.8);
}

.descriptions{
    background-color: #eee;
}

.home h1 span{
    color: #0d6efd;
}

.descriptions .content h2{
    color: rgba(0,0,0,0.8);
}

.descriptions .content .box h3{
    color: rgba(0,0,0,0.8);
}

.descriptions .content .box h3 i{
    color: #0d6efd;
}

.descriptions .content .box p{
    color: rgba(0,0,0,0.8);
}

@media (min-width: 768px) and (max-width: 991px){
    .home h1.display-4 {
        font-size: 40px; 
    }
    .home .lead {
        font-size: 21px; 
    }
    .home img {
        max-width: 80%;
        height: auto; 
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home h1.display-4 {
        font-size: 35px; 
    }
    .home p.lead {
        font-size: 18px; /* Adjust the paragraph text slightly smaller */
    }
    .home img {
        max-width: 100%; 
        height: auto; 
    }
}