html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.top-container {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;

}

.home-page {
    display: flex;
    width: 50%;
    justify-content: center;
}

.home-page a {
    color: #000;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

nav a {
    color: #000;
    font-size: 2vh;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#navbar a.active {
    color: #000;
    font-weight: bold;
}

.graph-title {
    text-align: center;
}

.graph {
    border: solid;
    text-align: center;
    margin: 0 auto;
    padding: 24px;
    width: 80%;
    height: 400px;

    display: flex;

    justify-content: center;

    align-items: center;

}

canvas#MyChart {
    width: 100%;
    height: 100%;
}


.graph-bottom {
    text-align: center;
    font-size: 26px;
    display: flex;
    margin-left: 84px;
}

.graph-stats {
    margin-left: 144px;
    margin-right: 144px;
    padding: 12px;
}

.graph-description {
    margin-right: 144px;
}