.App {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  padding: 50px;
  background-color: #ffffff;
  flex-wrap: wrap; 
}

.textual-content {
  flex: 1;
}

.healthcare-image {
  max-width: 100%;
  height: auto; 
}

.content h1 {
  font-size: 3em;
  color: #000;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
}

.contact-info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item p {
  margin-left: 8px; 
}

.contact-item svg {
  width: 24px;
  height: auto;
}